html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

h1 {
  color: red;
  text-align: center;
}

.row {
  display: flex;
  justify-content: center;
}

.cell {
  background-color: rgb(231, 231, 231);
  height: 50px;
  width: 50px;
}

.cell:hover {
  background-color: black;  
}